@import "bootstrap";
@import "navbar";
@import "footer";
@import "welcome";
@import "contatti";


:root {
    /* HEADER E TITOLI */
    --blu_scuro: #1a3c5a;

    /* SFONDO E COLORI SECONDARI */
    --bianco_sfondo: #f8f9fa;

    /* PULSANTI, LINK E ICONE VARIE */
    --dorato_medio: #c5a059;

    /* TESTO */
    --nero_testo: #333333;

    /* HOVER ED EFFETTI CHIARI */
    --dorato_chiaro: #dbc08b;

    /* TITOLI */
    --playfair: "Playfair Display", serif;

    /* TESTO */
    --opensans: "Open Sans", sans-serif;
}

body {
    font-family: var(--opensans);
    color: var(--nero_testo);
    background-color: var(--bianco_sfondo);
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
    font-family: var(--playfair);
    font-weight: 700;
}

.font-title {
    font-family: var(--playfair);
}

.font-body {
    font-family: var(--opensans);
}

/* Custom Utilities */
.testo_blu {
    color: var(--blu_scuro);
}
.testo_dorato {
    color: var(--dorato_medio);
}

.sfondo_blu {
    background-color: var(--blu_scuro);
}
.sfondo_dorato {
    background-color: var(--dorato_medio);
}

.bordo_dorato {
    border: 2px solid var(--dorato_medio);
}

.bordo_blu {
    border: 2px solid var(--blu_scuro);
}

/* ========================================
   SMOOTH SCROLL
   ======================================== */
html {
    scroll-behavior: smooth;
}
